.vacio-container {
  display: grid;
  padding: 1rem;
  background: #fff;
}

.procedimiento {
  border-left: 5px solid;
  background-color: #f4f4f4;
  margin-bottom: 1rem;
}

// título procedimiento
h3 {
  text-align: center;
  padding: 5px;
  margin-top: 0;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;

  button {
    font-weight: bold;
  }
}

.resultados,
.lecturas {
  border-left: 5px solid;
  margin-top: 1rem;
  padding: 1rem;
  background: #f4f4f4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 0.5rem;
}