/* src/app/layout/main-layout/main-layout.component.scss */

/* Solo estructura general del layout */
.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 310px;
  padding: 5px;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.toolbar-title {
  transition: opacity 0.3s ease;
  font-weight: 500;
}

.menu-button {
  margin-right: 16px;
}

.content {
  padding: 16px;
}
