<mat-toolbar color="accent">
  <span>Lecturas PM130+</span>
</mat-toolbar>

<div class="content">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Variable -->
    <ng-container matColumnDef="variable">
      <th mat-header-cell *matHeaderCellDef> Variable </th>
      <td mat-cell *matCellDef="let element"> {{ element.variable }} </td>
    </ng-container>

    <!-- Valor -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{ element.valor }} </td>
    </ng-container>

    <!-- Unidad -->
    <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef> Unidad </th>
      <td mat-cell *matCellDef="let element"> {{ element.unidad }} </td>
    </ng-container>

    <!-- Encabezado -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Filas -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

